@import "config";
//Directions
$direction           :rtl;
$opposite-direction   :ltr;
$start-direction     :right;
$end-direction       :left;
$transform-direction :-1;

//numbers
$one:"١";
$two:"٢";
$three:"٣";
$four:"٤";
$five:"٥";
